# https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/configuration-options-for-dependency-updates

version: 2
updates:

  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
      timezone: "Europe/Berlin"
    groups:
      gdbstub:
        patterns:
          - "gdbstub*"
      rust-vmm:
        patterns:
          - "kvm-ioctls"
          - "kvm-bindings"
          - "vmm-sys-util"

  - package-ecosystem: "cargo"
    directory: "/tests/test-kernels"
    schedule:
      interval: "weekly"
      timezone: "Europe/Berlin"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      timezone: "Europe/Berlin"
