[package]
name = "uhyve"
version = "0.0.28"
authors = ["Stefan Lankes <slankes@eonerc.rwth-aachen>"]
edition = "2018"
description = "A hypervisor for RustyHermit."
repository = "https://github.com/hermitcore/uhyve"
license = "MIT/Apache-2.0"
keywords = ["hypervisor", "unikernel"]
categories = ["os"]
exclude = [
    "/.github/",
    "/img/",
    "/benches/",
    "/benches_data/",
    "/.gitattributes",
    "/.gitignore",
    "/.gitlab-ci.yml",
    "/.gitmodules",
    "/bors.toml",
    "/codecov.yml",
    "/Dockerfile",
]

[lib]
name = "uhyvelib"

[[bench]]
name = "benchmarks"
harness = false

[features]
default = []
instrument = ["rftrace", "rftrace-frontend"]

[patch.crates-io]
nix = { git = "https://github.com/nix-rust/nix" }

[dependencies]
bitflags = "1.3"
byteorder = "1.4"
byte-unit = "4.0"
clap = "2.33"
core_affinity = "0.5"
either = "1.6"
env_logger = "0.9"
envmnt = "0.9"
goblin = { version = "0.4", default-features = false, features = ["elf64", "elf32", "endian_fd", "std"] }
lazy_static = "1.4"
libc = "0.2"
log = "0.4"
raw-cpuid = "10.2"
rustc-serialize = "0.3"
thiserror = "1.0"

rftrace = { version = "0.1", optional = true }
rftrace-frontend = { version = "0.1", optional = true }

[target.'cfg(target_os = "linux")'.dependencies]
kvm-bindings = "0.5"
kvm-ioctls = "0.10"
mac_address = "1.1"
nix = "0.22"
tun-tap = { version = "0.1", default-features = false }
virtio-bindings = { version = "0.1", features = ["virtio-v4_14_0"] }
vmm-sys-util = "0.8"

[target.'cfg(target_os = "macos")'.dependencies]
burst = "0.0"
xhypervisor = "0.0"

[target.'cfg(target_arch = "x86_64")'.dependencies]
x86_64 = { version = "0.14", default-features = false }

[target.'cfg(all(target_arch = "x86_64", target_os = "macos"))'.dependencies]
x86 = { version = "0.41", default-features = false }

[dev-dependencies]
criterion = "0.3"
