name: KVM Tests

on:
  push:
    branches:
      - staging
      - trying

jobs:
  kvm:
    name: KVM Tests
    runs-on: [self-hosted]
    steps:
    - uses: actions/checkout@v2
    - name: Install toolchain from rust-toolchain.toml
      run: rustup show
    - name: Build (debug)
      run: cargo build
    - name: Prepare test environment
      shell: bash
      run: |
         lscpu
         kvm-ok
         cd $GITHUB_WORKSPACE
         cd ..
         rm -rf rusty-hermit
         git clone --recurse-submodules https://github.com/hermitcore/rusty-hermit.git
    - name: KVM tests (debug)
      shell: bash
      run: |
         cd $GITHUB_WORKSPACE
         cd ../rusty-hermit
         cargo build -p rusty_demo
         RUST_LOG=debug $GITHUB_WORKSPACE/target/debug/uhyve -v -c 1 target/x86_64-unknown-hermit/debug/rusty_demo
    - name: Build (release)
      run: cargo build --release
    - name: KVM tests (release)
      shell: bash
      run: |
         cd $GITHUB_WORKSPACE
         cd ../rusty-hermit
         cargo build -p rusty_demo --release
         RUST_LOG=debug $GITHUB_WORKSPACE/target/release/uhyve -v -c 1 target/x86_64-unknown-hermit/release/rusty_demo
