name: Build and test

on:
  pull_request:
  push:
    branches:
      - staging
      - trying
  schedule:
    - cron: '0 3 * * 1'

jobs:
  test:
    name: Cargo tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Install toolchain from rust-toolchain.toml
      run: rustup show
    - name: Test
      run: |
        cargo test --lib -- --skip test_vm
        cargo test --doc

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Install toolchain from rust-toolchain.toml
      run: rustup show
    - name: Build
      run: cargo build
    - name: Build with instrument feature
      run: cargo clean && RUSTFLAGS="-Z instrument-mcount" cargo build
    - name: Compile, but don't run benchmarks
      run: cargo bench --no-run

  kernel-tests:
    name: Rusty-Hermit Kernel based integration tests
    runs-on: [self-hosted]
    steps:
    - uses: actions/checkout@v2
      with:
        lfs: true
    - run: git lfs checkout benches_data/hello_world
    - name: Install toolchain from rust-toolchain.toml
      run: rustup show
    - name: Integration Tests
      run: cargo test --test '*' -- --skip gdb
    - name: Generate integration test coverage
      run: ./generate_test_coverage.sh --print-coverage -- --skip gdb
    - name: Generate unit test coverage
      run: |
        #./generate_test_coverage.sh --print-coverage
        bash <(curl -s https://codecov.io/bash) -f
    - uses: codecov/codecov-action@v2
      with:
        files: coveralls.json
        fail_ci_if_error: true
